.CardWords {
    border-radius: 50px;
    border: 3px solid rgb(59, 184, 34);
    box-shadow: 0 0 70px rgb(102, 102, 102);
    padding: 30px;
    background-color: beige;
    min-width: 200px;
}

.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    justify-content: space-evenly;
    justify-items: center;
}

.getWordsFields {
    display: block;
    width: 200px;
    margin: 0 auto;
}