.Word-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-align: center; */
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
    border: 3px solid rgb(104, 247, 9);
    /* -webkit-box-shadow: 4px -2px 22px -3px rgba(87, 255, 119, 0.75); */
    /* box-shadow: 4px -2px 22px -3px rgba(87, 255, 119, 0.75); */
    box-shadow: 0 0 10px rgb(13, 222, 230);
    padding: 30px;
    margin: 20px;
    min-width: 150px;
    width: 350px;
}

.Word {
    margin: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 30px 30px;
    background-color: white;
    /* border-radius: 5px; */
    border: 1px solid rgb(104, 247, 9);
    /* box-shadow: 0 0 10px rgb(13, 222, 230); */
}

.editWord,
.deleteWord {
    height: 20px;
    width: auto;
    padding: 30px 5px;
}